* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	background: #fff;
	color: #000;
	font-size: 15px;
	line-height: 1.5;
}

a {
	color: #262626;
	text-decoration: none;
}

ul {
	list-style: none;
}

.container {
	width: 90%;
	max-width: 1100px;
	margin: auto;
}

.menu-bar {
	cursor: pointer;
	position: absolute;
	top: 20px;
	right: 30px;
	z-index: 2;
	display: none;
}

/* nav */

.main-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 60px;
	padding: 20px 0;
	font-size: 13px;
}

.main-nav .logo {
	width: 110px;
}

.main-nav ul {
	display: flex;
}

.main-nav li {
	padding: 0 10px;
}

.main-nav ul li a {
	padding-bottom: 2px;
}

.main-nav ul li a:hover {
	border-bottom: 2px solid #262626;
}

.main-nav ul.main-menu {
	flex: 1;
	margin-left: 20px;
}

.btn {
	cursor: pointer;
	display: inline-block;
	border: none;
	font-weight: bold;
	padding: 10px 20px;
	background: #262626;
	color: #fff;
	font-size: 15px;
}

.btn:hover {
	opacity: 0.9;
}

/* show case */

.showcase {
	width: 100%;
	height: 400px;
	background: url(./img/slide1.png) no-repeat center center/cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	padding-bottom: 50px;
	margin-bottom: 20px;
}

.showcase h2,
.showcase p {
	margin-bottom: 10px;
}

.showcase .btn {
	margin-top: 20px;
}

/* home card */
.home-card {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
	margin-bottom: 20px;
}

.home-card img {
	width: 100%;
	margin-bottom: 20px;
}

.home-card h3 {
	margin-bottom: 5px;
}

.home-card a {
	display: inline-block;
	padding-top: 10px;
	color: #0067b8;
	text-transform: uppercase;
	font-weight: bold;
}

.home-card a:hover i {
	margin-left: 10px;
}
/* xbox */

.xbox {
	width: 100%;
	height: 350px;
	background: url("./img/xbox.png") no-repeat center center/cover;
	margin-bottom: 20px;
}

.xbox .content {
	width: 40%;
	padding: 50px 0 0 30px;
}

.xbox p {
	margin: 10px 0 20px;
}

.carbon {
	width: 100%;
	height: 350px;
	background: url("./img/carbon.jpg") no-repeat center center/cover;
}

.carbon .content {
	width: 55%;
	padding: 100px 0 0 30px;
}

.dark {
	color: #fff;
}
.dark .btn {
	background: #f4f4f4;
	color: #333;
}

.carbon .content p {
	margin: 10px 0 20px;
}

/* follow  */

.follow {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 30px 0 30px;
}

.follow * {
	margin-right: 10px;
}

/* links */
.links {
	background: #f2f2f2;
	color: #616161;
	font-size: 12px;
	padding: 35px 0;
}

.links-inner {
	max-width: 100%;
	margin: 0 auto;
	padding: 0 20px;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 10px;
	align-items: flex-start;
	justify-content: center;
}

.links li {
	line-height: 2.5;
}
/* footer */
.footer {
	background: #f2f2f2;
	color: #616161;
	font-size: 12px;
	padding: 20px 0;
}

.footer-inner {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 20px 0 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer div {
	margin-bottom: 20px;
	display: flex;
	align-items: center;
}

.footer div i {
	margin-right: 10px;
}

.footer ul {
	display: flex;
	flex-wrap: wrap;
}
.footer li {
	margin-right: 30px;
	margin-bottom: 20px;
}

@media (max-width: 700px) {
	.menu-bar {
		display: block;
	}
	.menu-bar:hover {
		opacity: 0.5;
	}

	.main-nav ul.right-menu {
		margin-right: 50px;
	}

	.main-nav ul.main-menu {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		background: #f2f2f2;
		width: 50%;
		height: 100%;
		border-right: #ccc 1px solid;
		opacity: 0.9;
		padding: 30px;
		transform: translateX(-500px);
		transition: transform 0.5s ease-in-out;
	}

	.main-nav ul.main-menu li {
		padding: 10px;
		border-bottom: #ccc 1px solid;
		font-size: 1 4px;
	}
	.main-nav ul.main-menu li:last-child {
		border-bottom: 0;
	}

	.main-nav ul.main-menu.show {
		transform: translateX(-20px);
	}

	.home-card {
		grid-template-columns: repeat(2, 1fr);
	}

	.xbox .content p {
		display: none;
	}

	.xbox .content h2 {
		margin-bottom: 20px;
	}

	.carbon .content {
		width: 85%;
	}

	.links .links-inner {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 500px) {
	.home-card {
		grid-template-columns: repeat(1, 1fr);
	}

	.links .links-inner {
		grid-template-columns: repeat(1, 1fr);
	}
}
